:root {
    --solid-logo-rotation: 0;
}

body {
    margin: 0%;
    color: white;
    background-color: #263044;
}

#root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #5880cf;
}

code {
    font-size: large;
    background-color: #15181f;
    font-family: monospace;
    padding: 0.5rem;
}

img {
    display: block;
    height: 10rem;
    width: auto;
}

#solid-logo {
    margin: 2.5rem;
    transform: rotate(var(--solid-logo-rotation));
    transition: all 1s ease;
}